@font-face {
  font-family: 'NewsGothicBT-Roman';
  src: url('../../../src/fonts/newsgothicbt-roman.woff2') format('woff2'),
    url('../../../src/fonts/newsgothicbt-roman.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NewsGothicBT-Roman';
  src: url('../../../src/fonts/newsgothicbt-bold.woff2') format('woff2'),
    url('../../../src/fonts/newsgothicbt-bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'NewsGothicBT-Light';
  src: url('../../../src/fonts/newsgothicbt-light.woff2') format('woff2'),
    url('../../../src/fonts/newsgothicbt-light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'duke-icons';
  src: url('../../../src/fonts/duke-icons.eot');
  src: url('../../../src/fonts/duke-icons.eot?#iefix') format('embedded-opentype'),
    url('../../../src/fonts/duke-icons.woff') format('woff'),
    url('../../../src/fonts/duke-icons.ttf') format('truetype'),
    url('../../../src/fonts/duke-icons.svg#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin duke-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'duke-icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

[class^='ci-icon-']:before,
[class^='ci-icon-'] .ie7-before,
[class^='ci-icon-']:after,
[class^='ci-icon-'] .ie7-after,
[class*=' ci-icon-']:before,
[class*=' ci-icon-'] .ie7-before,
[class*=' ci-icon-']:after,
[class*=' ci-icon-'] .ie7-after {
  @include duke-icon;
}

[class^='ci-i-']:before,
[class^='ci-i-'] .ie7-before,
[class^='ci-i-']:after,
[class^='ci-i-'] .ie7-after,
[class*=' ci-i-']:before,
[class*=' ci-i-'] .ie7-before,
[class*=' ci-i-']:after,
[class*=' ci-i-'] .ie7-after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'custom-icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

[class^='ci-'].after:before,
[class^='ci-'].after .ie7-before,
[class*=' ci-'].after:before,
[class*=' ci-'].after .ie7-before {
  display: none;
}

.ci-icon-contact:before {
  content: '\e900';
}

.ci-icon-location:before {
  content: '\e604';
}

.ci-icon-outages:before {
  content: '\e901';
}

.ci-icon-person:before {
  content: '\e625';
}

.ci-icon-search:before {
  content: '\e623';
}

.ci-icon-close:before {
  content: '\e61c';
}

.ci-icon-left-arrow-slim:before {
  content: '\e603';
}

.ci-icon-state-florida:before {
  content: '\e622';
}

.ci-icon-state-indiana:before {
  content: '\e621';
}

.ci-icon-state-kentucky:before {
  content: '\e620';
}

.ci-icon-state-northcarolina:before {
  content: '\e61f';
}

.ci-icon-state-ohio:before {
  content: '\e61e';
}

.ci-icon-state-southcarolina:before {
  content: '\e61d';
}
