.wrapper-container {
  @include spacing-offset(margin, zero, auto);
  @include spacing-offset(padding, zero, l);
  width: 100%;

  @include breakpoint(m) {
    @include container(l);
  }

  @include breakpoint(l) {
    @include container(xl);
  }

  @include breakpoint(xl) {
    @include container(3xl);
  }
}

#__layout {
  padding-top: 54px; // $navHeightMobile: 54px;

  @include breakpoint(m) {
    padding-top: 72px; // $navHeightTablet: 72px;
  }
  @include breakpoint(xl) {
    padding-top: 0;
  }
}
