/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html {
  box-sizing: border-box;

  *,
  &:before,
  &:after,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

button * {
  pointer-events: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}
