@mixin triangle($color: color(white), $size: 5px) {
  border-bottom: $size solid $color;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  content: '';
}

@mixin chevron(
  $border-thickness: 2px,
  $chevron-size: 0.75ch,
  $chevron-thickness: 2px,
  $rotation: 45deg
) {
  &:after {
    border-color: currentColor;
    border-style: solid;
    border-width: $chevron-thickness $chevron-thickness 0 0;
    content: '';
    display: inline-block;
    height: $chevron-size;
    position: relative;
    transform: rotate($rotation) translateY(-$border-thickness);
    vertical-align: middle;
    width: $chevron-size;
  }
}

// Provide the cross an element and position that element according to your needs
// for example: add a <div class="cross" /> to your template, and then
// add .cross { @include cross(variables) }
@mixin cross($cross-size: 100px, $cross-color: currentColor, $cross-position: absolute) {
  width: $cross-size;
  height: $cross-size;
  position: $cross-position;

  &:before {
    content: '';
    background: $cross-color;
    height: $cross-size;
    position: absolute;
    width: $cross-size * 0.2;
    left: $cross-size * 0.4;
  }

  &::after {
    background: $cross-color;
    content: '';
    height: $cross-size * 0.2;
    left: 0px;
    position: absolute;
    top: $cross-size * 0.4;
    width: $cross-size;
  }
}

@keyframes animateDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
