@import '~@de-electron/design-tokens/dist/web/__all.scss';
@import '../../../assets/scss/global/imports.scss';

.de-cards {
  $this: &;

  &__group {
    @include grid-gutter-offset(s);
    flex-flow: column nowrap;

    @include breakpoint(xs) {
      @include grid-gutter-offset(m);
      flex-flow: row wrap;
    }

    @at-root ol#{&} {
      counter-reset: nav-card-count;
    }
  }

  &__item {
    @include grid-column(1);
    @include grid-gutter(s);

    @include breakpoint(xs) {
      @include grid-column(2);
      @include grid-gutter(m);
      max-width: 360px;
    }

    @include breakpoint(l) {
      @include grid-column(3);
    }

    @include breakpoint(xl) {
      @include quantity-query-equals(4 7 8 10 12) {
        @include grid-column(4);
      }
    }
  }

  &__card {
    background-image: none;
    transition: all 0.15s ease-in-out;
  }

  > a {
    &.is-desktop {
      display: none;

      @include breakpoint(xs) {
        display: inline;
      }
    }

    &.is-mobile {
      display: inline;

      @include breakpoint(xs) {
        display: none;
      }
    }
  }

  &__media {
    height: 65px;
    width: 65px;

    @include breakpoint(xs) {
      height: auto;
      min-width: 100%;
    }

    &.isLoading {
      @include breakpoint(xs) {
        min-height: 150px;
      }
    }
  }

  &__body {
    > *:last-child,
    > *:last-child:before,
    > *:last-child:after {
      margin-bottom: 0;
    }
  }

  &__description {
    a {
      transition: border 0.1s ease-in-out;
    }
  }

  &__title {
    @include font-scale(h3);
    @include spacing-stack(2xs);

    color: color(typography, dark);
    font-weight: normal;

    @include breakpoint(m) {
      @include spacing-stack(xs);
    }

    &__link {
      $border-thickness: 2px;

      &:after {
        $chevron-size: 0.75ch;
        $chevron-thickness: 2px;
        content: '';
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border-color: currentColor;
        border-style: solid;
        border-width: $chevron-thickness $chevron-thickness 0 0;
        transform: rotate(45deg) translateY(-$border-thickness);
        width: $chevron-size;
        height: $chevron-size;
        margin-left: -$chevron-size;
      }

      &:hover {
        span {
          border-image-source: linear-gradient(
            to right,
            color(teal) 0px,
            color(teal) calc(100% - 1ch),
            transparent calc(100% - 1ch)
          );
        }
      }

      span {
        border: solid;
        border-image-slice: 0 0 1 0;
        border-width: 0 0 $border-thickness 0;
        border-image-source: linear-gradient(to right, transparent, transparent);
        transition: border 0.15s ease-in-out;
        &:after {
          content: '\a0';
          display: inline;
        }
      }
    }

    ol & {
      span {
        &:before {
          background-color: color(gray, dark);
          border-radius: 50%;
          color: color(white);
          content: counter(nav-card-count);
          counter-increment: nav-card-count;
          display: block;
          float: left;
          font-weight: 700;
          margin-right: spacing(xs);
          text-align: center;
          zoom: 75%;
          @include icon(s);
          @include font-scale(h5);
          line-height: 32px;
          @include breakpoint(s) {
            @include spacing-stack(xs);
            float: none;
            zoom: normal;
          }
        }
      }

      a span:before {
        background-color: color(teal, darker);
      }
    }
  }

  // Specific modifiers
  &--rectangular {
    #{$this}__media {
      object-fit: cover;
      @include breakpoint(xs) {
        margin-right: spacing(zero);
      }
    }
  }

  &--bigicon {
    #{$this}__card {
      color: color(teal, darker);
      flex-direction: column;
      text-align: center;
      text-decoration: none;
    }

    #{$this}__card:hover #{$this}__title {
      text-decoration: none;

      span {
        border-bottom-color: color(teal);
      }
    }

    #{$this}__group {
      flex-flow: row wrap;
    }

    #{$this}__item {
      @include grid-column(2);
    }

    #{$this}__media {
      @include icon(l);
      @include spacing-stack-center(s);

      @include breakpoint(m) {
        @include icon(xl);
        @include spacing-stack(m);
      }
    }

    #{$this}__title {
      &:after {
        background-size: auto 52%;
        content: '';
        padding-left: spacing(s) + 2px;
        position: relative;

        @include breakpoint(m) {
          padding-left: spacing(m);
        }
      }

      span {
        border-bottom: 2px solid transparent;
        transition: border 0.15s ease-in-out;
      }
    }

    &--negative {
      #{$this}__card {
        color: color(white, base);
      }

      #{$this}__title {
        color: color(white, base);
      }

      #{$this}__card:hover #{$this}__title {
        text-decoration: none;

        span {
          border-bottom-color: color(white, base);
        }
      }
    }
  }

  &--centered {
    #{$this}__card {
      @include breakpoint(xs) {
        text-align: center;
      }
    }

    #{$this}__media {
      @include icon(l);

      @include breakpoint(xs) {
        margin-right: spacing(auto);
        margin-left: spacing(auto);
      }

      @include breakpoint(m) {
        @include icon(xl);
      }
    }

    #{$this}__image {
      border-radius: 50%;
    }

    #{$this}__title {
      a {
        a:hover {
          text-decoration: none;

          span {
            border-bottom-color: color(teal);
          }
        }
      }
    }
  }
}
