@import '~@de-electron/design-tokens/dist/web/__all.scss';
@import '../../../assets/scss/global/imports.scss';

.de-more-info {
  &__body {
    max-height: 0;
    transition: all 2s cubic-bezier(0.17, 0.04, 0.03, 0.94);

    &[aria-hidden='true'] {
      transition: all 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
      visibility: hidden;
    }

    &[aria-hidden='false'] {
      max-height: 500px;
      visibility: visible;
    }
  }

  &__button {
    border-bottom: 1px solid transparent;
    max-width: 100px;

    &::after {
      border-color: color(teal, darker);
      border-style: solid;
      border-width: 2px 2px 0 0;
      color: color(teal, darker);
      content: '';
      display: inline-block;
      height: particle(3xs);
      position: absolute;
      right: spacing(-m);
      top: 25%;
      transform: rotate(135deg);
      width: particle(3xs);
    }

    &:hover {
      border-bottom: 1px solid color(teal, darker);
      cursor: pointer;
    }

    &--open {
      &::after {
        top: 40%;
        transform: rotate(315deg);
      }
    }
  }

  &__icon {
    height: spacing(xl);
    width: spacing(xl);
  }
}
